@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap');

body {
    background-image: url("/static/css/images/geothermal.jpeg");
    width: 100%;
    background-size: cover;
    opacity: 95%;
}

body.font {
    font-family: 'Raleway', sans-serif;
}

h1 {
    color: brown;
    text-align: center;
    padding: 10px;
}

#nolog {
    width: 100%
}

/* LOG IN PAGE STYLING*/
#login-btn,
#show-off-btn,
#aeroplane-submit-btn,
#edit-submit-car-btn,
#submit-avail-offsets,
#car-delete-edit-pg,
#edit-submit-aero-btn,
#delete-est-btn-airplane {
    color: #fff;
    background-color: #FC600A;
    border-color: #FC600A;
    color: white;
}

.login-title, .rem-text {
    color:#B8D93F;
    padding-top: 9px;
    padding-bottom: 15px;
}

.checkbox-login {
    margin-right: 25px;
    background-color: #4424D6;
}

button, input {
    border-radius: 4px;
}

/*ALERT STYLING IF USER NOT SIGNED IN*/
.alert-border {
    border-color: #FC600A;
}

/* NAV BAR WIDTH FOR BASE.HTML AND NOLOGIN.HTML */
.navbar {
    width: 100%;
}

/* NAV BAR PROPERTIES FOR TITLE*/
#navbar-color, #navbar-color-base {
    color: 110934;
    font-weight: 800;
    font-size: 1.07rem;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
    padding: 2px;
    border: none;
}

#navbar-bg, #navbar-bg-base {
    border: ridge #FC600A;
}

.bg-light {
    background-color: #B8D93F;
}

.form-control:focus {
    border-color: #FC600A;
}

.nolog-bg-img {
    background-color: #110934;
    border: solid #FC600A;
    width: 100%;
    width: 100%;
    padding-bottom: 15px;
}

.column {
    padding: 25px;
}

.bg-light {
    background-color: black;
}

.alert-dark {
    margin-top: 15px;
}

nav.navbar, #navbar-bg-base {
    background-color: #D4E882;
    opacity: 90%;
}


/* NEW USER*/
.reg-title {
    color: #B8D93F;
    padding-top: 23px;
    font-size: 1.40rem;
    margin-left: 22px;
    margin-bottom: 35px;
}

.new-user-btn {
    color: #fff;
    background-color: #FC600A;
    border-color: #FC600A;
    color: white;
    margin-top: 15px;
    margin-bottom: 9px;
}

.new-user-label, .aeroplane-label {
    color: #B8D93F;
    font-weight: bolder;
    font-size: 1rem;
}

.aeroplane-label {
    font-size: 1rem;
}

#placeholder-aero {
    font-size: 1rem;
}

/*VEHICLE OFFSET STYLING*/
.ground-query-title, .aeroplane-title, .dashboard-title {
    color: #B8D93F;
    font-weight: bolder;
    font-size: 1.3rem;
}

.ground-labels {
    color: #B8D93F;
    font-weight: bold;
}

.ground-container,
.aeroplane-container,
.dashboard-container,
.edit-car-container,
.edit-aeroplane-container {
    background-color: #4424D6;
    padding-bottom: 25px;
    padding-top: 25px;
    width: 85%;
    min-width: 300px;
    margin: auto;
    opacity: 95%;
    line-height: 1.6;
}

.ground-form-container,
.aeroplane-form-container,
.edit-car-container,
.aeroplane-est-results-container
{
    margin: 10px;
}

.aeroplane-form-container {
    text-align: left;
}

.ground-line-break,
.aeroplane-line-break,
.dashboard-line-break,
.line-break-available-offsets,
.edit-line-break,
.line-break-edit-aeroplane,
.car-emission-results-line-break,
.aeroplane-est-results-line-break,
.new-user-line-break {
    border-color: #B8D93F;
}

.car-emission-results-line-break,
.car-emission-results-cost {
    padding-bottom: 9px;
}

/* DASHBOARD STYLING */
.car-title-dashboard,
.aeroplane-title-dashboard,
.edit-air-title,
.edit-aero-title,
.car-emission-results-title {
    color: #B8D93F;
    font-weight: bold;
    font-size: 1.4rem;
}

.car-title-dashboard,
.aeroplane-title-dashboard,
.dashboard-entry-vehicle-section,
.dashboard-entry-aeroplane-section {
    margin: 15px;
    font-size: 1.3rem;
    font-weight: bolder;
}

.content-dashboard {
    margin: auto;
}

.dashboard-title {
    color: #FC600A;
    font-weight: bolder;
    font-size: 1.8rem;
}

.car-dashboard,
.dashboard-aeroplane {
    color: #B8D93F;
    font-size: 1.17rem;
    padding-bottom: 3px;
    font-weight: bolder;
}

.dashboard-container {
    opacity: 90%;
}

.h4, h4 {
    font-size: 1.3rem;
}

.badge-warning,
#dash-btn1,
#dash-btn2,
#dash-btn3,
#dash-btn4,
#edit-submit-car-btn,
#car-carbon-show-offsets,
#show-offsets-btn,
#aeroplane-est-show-offsets-btn {
    color: #fff;
    background-color: #FC600A;
    border-color: #FC600A;
    padding: 9px;
    font-size: 1rem;
}

a.car-dashboard:hover {
    color: #FC600A;
}

a.dashboard-aeroplane:hover {
    color: #FC600A;
}

/* OFFSET LIST STYLING */
#offset-type-list {
    color: #B8D93F;
    font-weight: bolder;
    font-size: 1.15rem;
    padding-bottom: 15px;
}

.offset-list {
    color: #B8D93F;
    font-weight: bolder;
}

.offset-list-title {
    font-size: 4rem;
}

#offset_type {
    color: #110934;
}

#list-offset-type-container {
   background-color: #4424D6;
    opacity: 95%;
    width: 80%;
    margin: auto;
    padding-top: 25px;
}

.container-offsets-top-of-form {
    margin: auto 45px;
    padding-bottom: 5px;
}

.available-offset-list {
    padding-bottom: 25px;
}

#delete-est-btn {
    background-color: #FC600A;
}

/* EDIT VEHICLE OFFSET STYLESHEET */
.car-edit-form, .edit-car-title {
    color: #B8D93F;
}

.edit-car-title, .edit-air-title {
    font-size: 1.4rem;
}

.edit-aero-title {
    font-size: 1rem;
}

.car-edit-form {
    font-size: 1rem;
    font-weight: bolder;
}

.edit-car-container {
    margin: auto;
}

.edit-form-margin,
.form-group,
.edit-pg-delete-btn,
.edit-pg-delete-btn-aeroplane {
    margin: 25px;
}


/* ESTIMATED VEHICLE CARBON EMISSIONS & OTHER DATA */
.car-emission-results-title,
.car-emission-results-city,
.car-emission-results-miles,
.car-emission-results-mpg,
.car-emission-results-kg,
.car-emission-results-cost,
.car-emission-results-btn-container2,
.car-emission-results-btn-container3,
.aeroplane-emission-results-title,
.aeroplane-emission-results-destinations,
.aeroplane-emission-results-carbon-emissions,
.aeroplane-emission-results-offset-cost,
.aeroplane-emission-results-show-offsets-btn1,
.aeroplane-emission-results-show-offsets-btn2 {
    color: #B8D93F;
    margin: 33px;
    font-size: 1.3rem;
}

.car-emission-results-city,
.car-emission-results-miles,
.car-emission-results-mpg,
.car-emission-results-kg,
.car-emission-results-cost,
.car-emission-results-btn-container2,
.car-emission-results-btn-container3, .aeroplane-emission-results-destinations,
.aeroplane-emission-results-offset-cost,
.aeroplane-emission-results-carbon-emissions {
    font-size: 1.13rem;
    line-height: 1.2rem;
    word-wrap: break-word;
    display: inherit;
    white-space: normal;
}


/* EDIT AIR CARBON OFFSET HISTORY */
.aeroplane-emission-results-title,
.aeroplane-emission-results-destinations,
.aeroplane-emission-results-offset-cost,
.aeroplane-emission-results-carbon-emissions {
    color: #B8D93F;
    /*width: 100%;*/
    white-space: nowrap;
    display: flex;
}


.car-emission-results-container,
.aeroplane-est-results-container {
    background-color: #4424D6;
    padding-bottom: 25px;
    padding-top: 9px;
    min-width: 300px;
    margin: auto;
    opacity: 95%;

#car-carbon-show-offsets {
    margin: 23px;
}

.car-emission-results-btn-container {
    padding-top: 33px;
}

.test {
    font-size: 2rem;
}

.car-emission-results-btn-container3,
#aeroplane-est-margin-container {
    margin: 7px;
}

#aeroplane-est-margin-container {
    margin: 7px;
}

/* MOBILE OPTIMIZATION */
/* PULL-DOWN NAVBAR STYLING */
.navlink {
    color: #110934;
    font-weight: bolder;
}

