@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap');

body {
    background-image: url("/static/css/images/geothermal.jpeg");
    width: 100%;
    height: 200px;
    background-size: cover;
    opacity: 95%;
}

body.font {
    font-family: 'Raleway', sans-serif;
}

h1 {
    color: brown;
    text-align: center;
    padding: 10px;
}

#nolog {
    width: 100%
}

/* LOG IN PAGE STYLING*/
#login-btn,
#show-off-btn,
#aeroplane-submit-btn,
#edit-submit-car-btn,
#submit-avail-offsets {
    color: #fff;
    background-color: #FC600A;
    border-color: #FC600A;
    color: white;
}

.login-title, .rem-text {
    color:#B8D93F;
}

.checkbox-login {
    margin-right: 25px;
    background-color: #4424D6;
}

button, input {
    border-radius: 4px;
}

/*ALERT STYLING IF USER NOT SIGNED IN*/
.alert-border {
    border-color: #FC600A;
}

/* NAV BAR WIDTH FOR BASE.HTML AND NOLOGIN.HTML */
.navbar {
    width: 100%;
}

/* NAV BAR PROPERTIES FOR TITLE*/
#navbar-color, #navbar-color-base {
    color: 110934;
    font-weight: 800;
}

#navbar-bg, #navbar-bg-base {
    border: ridge #FC600A;
}

.bg-light {
    background-color: #B8D93F;
}

.form-control:focus {
    border-color: #FC600A;
}

.nolog-bg-img {
    background-color: #110934;
    border: solid #FC600A;
    width: 100%;
    padding-bottom: 15px;
}

.column {
    padding: 25px;
}

.bg-light {
    background-color: black;
}

.alert-dark {
    margin-top: 15px;
}

nav.navbar, #navbar-bg-base {
    background-color: #D4E882;
    opacity: 90%;
}


/* NEW USER*/
.reg-title {
    color: #B8D93F;
    padding-top: 23px;
}

.new-user-btn {
    color: #fff;
    background-color: #FC600A;
    border-color: #FC600A;
    color: white;
}

.new-user-label, .aeroplane-label {
    color: #B8D93F;
    font-weight: bolder;
}

/*VEHICLE OFFSET STYLING*/
.ground-query-title, .aeroplane-title, .dashboard-title {
    color: #B8D93F;
    font-weight: bolder;
}

.ground-labels {
    color: #B8D93F;
    font-weight: bold;
}

.ground-container, .aeroplane-container, .dashboard-container {
    background-color: #4424D6;
    padding-bottom: 25px;
    padding-top: 25px;
    width: 80%;
    margin: auto;
}

.ground-form-container, .aeroplane-form-container {
    margin: 25px;
}

.ground-line-break, .aeroplane-line-break, .dashboard-line-break, .line-break-available-offsets {
    border-color: #B8D93F;
}

/* DASHBOARD STYLING */
.car-title-dashboard, .aeroplane-title-dashboard {
    color: #FC600A;
    font-weight: bold;
}
.content-dashboard {
    margin: 65px;
    border: solid #B8D93F;
    padding: 15px;
}

.dashboard-title {
    color: #110934;
    font-weight: bolder;
    font-size: 3rem;
}

.car-dashboard, .dashboard-aeroplane {
    color: #B8D93F;
}

.dashboard-container {
    margin-top: 150px;
    opacity: 90%;
}

.badge-warning, #dash-btn1, #dash-btn2, #dash-btn3, #dash-btn4, #edit-submit-car-btn, #car-carbon-show-offsets  {
    color: #fff;
    background-color: #FC600A;
    border-color: #FC600A;
    padding: 9px;
    font-size: 1rem;
}

a.car-dashboard:hover {
    color: #FC600A;
}

a.dashboard-aeroplane:hover {
    color: #FC600A;
}

/* OFFSET LIST STYLING */
#offset-type-list {
    color: #B8D93F;
    font-weight: bolder;
    font-size: 1.15rem;
    padding-bottom: 15px;
}

.offset-list {
    color: #B8D93F;
    font-weight: bolder;
}

.offset-list-title {
    font-size: 4rem;
}

#offset_type {
    color: #110934;
}

#list-offset-type-container {
   background-color: #4424D6;
    opacity: 95%;
    width: 80%;
    margin: auto;
    padding-top: 25px;
}

.container-offsets-top-of-form {
    margin: auto 45px;
    padding-bottom: 5px;
}

.available-offset-list {
    padding-bottom: 25px;
}

#delete-est-btn {
    background-color: #FC600A;
}

/* EDIT AIR QUERY STYLESHEET */