{% extends 'base.html' %}

{% block content %}
<div class="aeroplane-container">
<h1 class="aeroplane-title">{% block title %} Tell Us Where You Are Flying {% endblock %}</h1>
<hr class="aeroplane-line-break" />

<form class="aeroplane-form-container" method="post">
    <div class="form-group">
        <label class="aeroplane-label" for="airports">Enter Comma-separated Airport Destinations</label>
        <input type="text" name="airports" placeholder="Ex:  SFO, KEF, LAX" class="form-control" id="placeholder-aero"
            value="{{ request.form['airports'] }}"></input>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" id="aeroplane-submit-btn">Submit</button>
    </div>
</form>
</div>
{% endblock %}
