{% extends 'nologin.html' %}

{% block content %}
<!--<div id="show-bg show-bg-2">-->
<h3 class="reg-title">{% block title %} Register Account {% endblock %}</h3>

<!--<hr class="new-user-line-break"/>-->

<form method="post">
    <div class="form-group">
        <label class="new-user-label" for="full_name">Your Name</label>
        <input type="text" name="full_name" placeholder="Your name" class="form-control"
            value="{{ request.form['full_name'] }}"></input>
    </div>

    <div class="form-group">
        <label class="new-user-label" for="email">Your Email</label>
        <input type="text" name="email" placeholder="Your email" class="form-control"
            value="{{ request.form['email'] }}"></input>

    </div>
    <div class="form-group">
        <label class="new-user-label" for="pass">Password</label>
        <input type="password" name="pass" placeholder="Password" class="form-control"
            value="{{ request.form['pass'] }}"></input>
    
    </div>

    <div class="form-group">
        <button type="submit" class="btn new-user-btn">Submit</button>
    </div>
</form>
<!--</div>-->
{% endblock %}
