{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Edit Vehicle Carbon Offset History {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="miles">Miles</label>
        <input type="text" name="miles" placeholder="Miles" class="form-control"
            value="{{ request.form['miles'] or post['miles'] }}"></input>
    </div>
    
    <div class="form-group">
        <label for="mpg">Miles Per Gallon</label>
        <input type="text" name="mpg" placeholder="MPG" class="form-control" value="{{ request.form['mpg'] or post['mpg'] }}"></input>
    
    </div>
    <div class="form-group">
        <label for="city">City Visited</label>
        <input type="text" name="city" placeholder="City" class="form-control" value="{{ request.form['city'] or post['city'] }}"></input>
    </div>
    <div class="form-group">
        <button id="edit-submit-car-btn" class="btn btn-primary" type="submit" >Submit</button>
    </div>
</form>
<hr>
<form action="{{ url_for('delete_ground_query', id=post.id) }}" method="POST">
    <input type="submit" value="Delete Estimate"
            class="btn btn-success btn-sm"
            onclick="return confirm('Are you sure you want to delete this estimate?')">
</form>
{% endblock %}

