{% extends 'base.html' %}

{% block content %}
<div class="dashboard-container">
    <h1 class="dashboard-title">{% block title %} {{ user.full_name }}'s Dashboard {% endblock %}</h1>
    <hr class="dashboard-line-break"/>
    <div class="content-dashboard">
        <h2 class="car-title-dashboard">Vehicle Carbon Offset History</h2>
        <hr class="dashboard-line-break car-break-line">
        {% for query in ground_queries %}
            <a class="car-dashboard" href="{{ url_for('show_ground_query', query_id=query['id']) }}">
                <h4 class="car-dashboard">{{ query.city }}: {{query.mpg}} MPG for {{query.miles}} miles</h4>
                <div class="car-dashboard">{{ query.created }}</div>
            <a href="{{ url_for('edit_ground_query', id=query.id) }}">
                <button class="badge badge-warning" id="dash-btn1">Edit</button>
            </a>
            <a href="{{ url_for('delete_ground_query', id=query.id) }}">
                <button class="badge badge-warning" id="dash-btn2">Delete</button>
            </a>

            <hr class="dashboard-line-break">

    {% endfor %}

    <h2 class="aeroplane-title-dashboard">Air Travel Offset History</h2>
    <hr class="dashboard-line-break">
    {% for query in air_queries %}
        <a class="dashboard-aeroplane" href="{{ url_for('show_air_query', query_id=query['id']) }}">
            <h4 class="dashboard-aeroplane">{{ query.list_airports() }}</h4>
            <div class="dashboard-aeroplane">{{ query.created }}</div>
        </a>
        <a class="air-dashboard" href="{{ url_for('edit_air_query', id=query.id) }}">
            <button class="badge badge-warning" id="dash-btn3">Edit</button>
        </a>
        <a href="{{ url_for('delete_air_query', id=query.id) }}">
            <button class="badge" id="dash-btn4">Delete</button>
        </a>
            <hr class="dashboard-line-break">
        </a>

    {% endfor %}
    </div>
</div>
{% endblock %}
