{% extends "nologin.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h4 class="title" id="login-title">Log In</h4>
    <div class="box">
        <form class="login-form" method="POST" action="/login">
            <div class="field">
                <div class="control">
                    <input class="placeholder-margin input is-large login-border-radius" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>
<!--<style>-->
<!--    #login-btn{background-color: #4424D6}-->
<!--</style>-->
            <div class="field">
                <div class="control">
                    <input class="placeholder-margin input is-large login-border-radius" type="password" name="pass" placeholder="Password">
                </div>
            </div>
            <div class="field">
                <label class="checkbox">
                    <div class="rem-text">
                        <input class="checkbox-login" type="checkbox" name="remember">
                        Remember me
                    </div>
                </label>
            </div>
            <button id="login-btn" class="button btn btn-primary">Log In</button>
        </form>
    </div>
</div>
{% endblock %}