{% extends 'base.html' %}

{% block content %}
<div id="list-offset-type-container">
<div class="container-offsets-top-of-form">
    <h3 class="offset-list offset-list-title">Available Offsets</h3>
    <h4 class="offset-list">Select an offset type to filter:</h4>
    <form method="post">
        <div class="form-group">
            <label class="offset-list" for="offset_type">Choose an Offset Type:</label>
            <select id="offset_type" name="offset_type">
                <div id="offset-list108">
                    <option id="offset1" value="All">All</option>>
                    <option value="Solar">Solar</option>>
                    <option value="Wind">Wind</option>>
                    <option value="Reforestation">Reforestation</option>>
                    <option value="Biomass">Biomass</option>>
                    <option value="Livestock Gas Capture">Livestock Gas Capture</option>>
                    <option value="Landfill Gas Capture">Landfill Gas Capture</option>>
                    <option value="Energy Efficiency">Energy Efficiency</option>>
                    <option value="Marine Efficiency">Marine Efficiency</option>>
                    <option value="fFugitive Emissions Capture">Fugitive Emissions Capture</option>>
                    <option value="Waste Management Project">Waste Management Project</option>>
                    <option value="Improved Forest Management">Improved Forest Management</option>>
                    <option value="Avcon">Avcon</option>>
                    <option value="Urban Forestry">Urban Forestry</option>>
                    <option value="Ozone Depleting Substances">Ozone Depleting Substances</option>>
                    <option value="Industrial Process Emissions Reduction">Industrial Process Emissions Reduction</option>>
                    <option value="Blue Carbon">Blue Carbon</option>>
                </div>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" id="submit-avail-offsets">Submit</button>
        </div>
    </form>
    </div>
    <div class="space"></div>
    <div class="available-offset-list">
    <ul>
        {% for offset in offsets %}
            <li><a id="offset-type-list" href="{{ url_for('show_offset', slug=offset['slug']) }}">{{ offset['offset_name'] }}</a></li>
        {% endfor %}
    </ul>
    </div>
</div>

{% endblock %}
