{% extends 'base.html' %}

{% block content %}
    <h2 class="aeroplane-emission-results-title">{% block title %} Estimated Carbon Emissions for Your Trip {% endblock %}</h2>
    <p class="aeroplane-emission-results-destinations">Airports Visited: {{ query.list_airports() }}</p>
    <p class="aeroplane-emission-results-carbon-emissions">Carbon Equivalent (kg): {{ result.equivalent_carbon_in_kg }}</p>
    <p class="aeroplane-emission-results-offset-cost">Offset Cost: ${{ result.total_cost_in_usd_cents / 100 }}</p>
    
    <form method="GET" action="/list_offset">
        <button class="button is-block is-info is-large is-fullwidth">Show Offsets</button>
    </form>
    <form method="GET" action="/home">
        <button class="button is-block is-info is-large is-fullwidth">Go To Dashboard</button>
    </form>

{% endblock %}


    <!-- <form method="POST" action="/list_offset/{{ query.offset_zip }}"> -->